<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hot Chocolate Counter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="styling.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>





    <div ng-controller="hotChocolateController">
        <div class="container">
            <div class="item"><h2>Jose's Total Hot Chocolate Count: <strong>{{joseCount}}</strong></h2></div>
            <div class="item"> <button ng-click="joseDrinkHotChocolate()">+</button></div>
            <div class="item"><h2>Isuru's Total Hot Chocolate Count: <strong>{{isuruCount}}</strong></h2></div>
            <div class="item"><button ng-click="isuruDrinkHotChocolate()">+</button></div>
        </div>




        <div class="gridContainer">
            <span class="graphContainer">
                <h1>Jose</h1>
                <div class="graph" ng-repeat="drink in joseHourly">
                    <div class="graphBar" style="height: {{drink.count * 30}}px">
                        <div class="date">{{drink.time}}</div>
                        <div class="drinkCount">{{drink.count}}</div>
                    </div>
                </div>
            </span>

            <span class="graphContainer">
                <h1>Isuru</h1>
                <div class="graph" ng-repeat="drink in isuruHourly">
                    <div class="graphBar" style="height: {{drink.count * 30}}px">
                        <div class="date">{{drink.time}}</div>
                        <div class="drinkCount">{{drink.count}}</div>
                    </div>
                </div>
            </span>
        </div>


    
    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="services/drinkDataService.js"></script>
    <script src="services/drinksApiService.js"></script>

    <script src="components/hotChocolateController.js"></script>
    <script src="components/graphController.js"></script>


</body>
</html>
